@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    
    <table class="table table-light">
        <tr>
            <td>Address</td>
            <td>Inland Lake Marina<br/> 
                Box 123<br/>
                Inland Lake, Arizona <br/>
                86038
            </td>
        </tr>
        <tr>
            <td>Office Phone</td>
            <td>928-555-2234</td>
        </tr>
        <tr>
            <td>Leasing Phone</td>
            <td>928-555-2235</td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>928-555-2236</td>
        </tr>
        <tr>
            <td>Manager</td>
            <td>Glenn Cooke</td>
        </tr>
        <tr>
            <td>Slip Manager</td>
            <td>Kimberley Carson</td>
        </tr>
        <tr>
            <td>Contact E-mail</td>
            <td>info@inlandmarina.com</td>
        </tr>
    </table>
</div>
<a href="@Url.Action("Index", "Home")">Home Page</a>

